
.imgbg{
    height: 100vh;
    width: 60%; 
    margin: 0 auto; 
    color: black;

    background: none 50% / cover;
    background-image: url("https://images.unsplash.com/photo-1560518883-ce09059eeffa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1073&q=80");
}

.welcome{
    font-size:xx-large;
}